<div class="container mt-5">
  <div class="row">
    <div class="col-7 mx-auto">
      <div class="card">
        <div class="card-body">
          <!-- ユーザー名を表示 -->
          <!-- current_user.name: 現在ログインしているユーザーの名前を表示します。 -->
          <h5 class="card-title"><%= current_user.name %></h5>
          <!-- メールアドレスを表示 -->
          <!-- current_user.email: 現在ログインしているユーザーのメールアドレスを表示します。 -->
          <h6 class="card-subtitle mb-2 text-muted"><%= current_user.email %></h6>
          <!-- ユーザー編集へのリンク -->
          <%= link_to 'ユーザー編集', edit_user_path %>
        </div>
      </div>
    </div>
  </div>
</div>